* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Kanit", sans-serif;
    color: #333;
    background-color: #fff;
}
nav {
    background: rgba(250, 250, 250, 0.2);
    height: 80px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#high {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
}
.way {
    font-weight: 200;
}
.logo {
    margin-left: 30px;
}
.dropdown {
    background: transparent;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    margin-right: 39px;
    position: relative;
    transition: background 0.5s;
    border-radius: 5px;
}
.dropdown span {
    position: absolute;
    left: 8px;
    top: 50%;
    width: 35px;
    height: 2px;
    background: white;
    border-radius: 1px;
    transform: translateY(-50%);
}
.dropdown span::before {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: white;
    border-radius: 1px;
    top: -10px;
    left: 0;
}
.dropdown span::after {
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: white;
    border-radius: 1px;
    top: 10px;
    left: 0;
}
.video {
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  
}
video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.content {
    position: absolute;
    height: 100%;
    width: 100%;
}
.text {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    position: absolute;
    z-index: 3;
}
.text h1 {
    font-size: 64px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
}
.text p {
    color: #fff;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 1.5px;
    text-align: center;
    padding: 5px 30px;
}
.icon {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}
.icon a {
    text-decoration: none;
}
.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    margin-top: 0;
}
.grid-item {
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
    color: white;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    transition: background 0.3s ease-in-out;
}
.item-overlay .title {
    font-size: 22px;
    font-weight: 500;
    padding-left: 20px;
    line-height: 15px;
    margin-bottom: 5px;
    transform: translateY(0); 
    transition: transform 0.3s ease-in-out;
    letter-spacing: 0.5px;
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.item-overlay .subtitle {
    padding-left: 20px;
    font-weight: 300 !important;
    letter-spacing: 0.5px;
    font-size: 14px;
    color: #fff;
    transform: translateY(100%); 
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;    
    margin: 0 0 10px;

}
.grid-item:hover .item-overlay {
    background: rgba(0, 0, 0, 0.6);
}
.grid-item:hover .item-overlay .title {
    transform: translateY(-10px); 
}
.grid-item:hover .item-overlay .subtitle {
    transform: translateY(0); 
    opacity: 1;
}